* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  line-height: 1.5;
  color: #101010;
  background: #eee;
}

.root {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
